.form-btn-task-delete {
    display: inline-block;
}

.moneybox-form input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.progress-bar-moneybox {
    border-radius: 10px;
}
